.libs
Makefile
Makefile.fragments
Makefile.objects
autom4te.cache
build/
config.h
config.h.in
config.log
config.nice
config.status
configure
configure.ac
core
include
libtool
modules
run-tests.php
*.a
*.dep
*.o
*.la
*.lo

